<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-fcm"
        version="10.0.4">
    <name>FCMPlugin</name>
    <description>Cordova FCM Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova, fcm, push, plugin, analytics</keywords>
    <js-module src="www/FCMPlugin.js" name="FCMPlugin">
        <clobbers target="FCMPlugin" />
    </js-module>

    <engines>
        <engine name="cordova-android" version=">=9.0.0" />
    </engines>

    <preference name="PAGE_LINK_DOMAIN" />

    <!-- ANDROID CONFIGURATION -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.eduardokraus.plugin.FCMPluginActivity"
                      android:exported="true"
                      android:launchMode="singleTop">
                <intent-filter>
                    <action android:name="FCM_PLUGIN_ACTIVITY" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
                <intent-filter android:autoVerify="true">
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:host="$PAGE_LINK_DOMAIN" android:scheme="http" />
                    <data android:host="$PAGE_LINK_DOMAIN" android:scheme="https" />
                </intent-filter>
            </activity>
            <service
                    android:name="com.eduardokraus.plugin.MyFirebaseMessagingService"
                    android:exported="false">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>
            <service android:name="com.eduardokraus.plugin.MyFirebaseInstanceIDService"
                     android:exported="false">
                <intent-filter>
                    <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                </intent-filter>
            </service>
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="DYNAMIC_LINK_URIPREFIX" value="https://$PAGE_LINK_DOMAIN" />
            <feature name="FCMPlugin">
                <param name="android-package" value="com.eduardokraus.plugin.FCMPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <framework src="com.google.android.gms:play-services-tagmanager:16.0.8" />
        <framework src="com.google.firebase:firebase-core:16.0.8" />
        <framework src="com.google.firebase:firebase-messaging:17.5.0" />
        <framework src="com.google.firebase:firebase-config:16.4.1" />
        <framework src="com.google.firebase:firebase-perf:16.2.4" />
        <framework src="com.google.firebase:firebase-dynamic-links:16.1.8" />

        <framework src="src/android/FCMPlugin.gradle" custom="true" type="gradleReference" />

        <source-file src="src/android/FCMPlugin.java"
                     target-dir="src/com/eduardokraus/plugin" />
        <source-file src="src/android/MyFirebaseMessagingService.java"
                     target-dir="src/com/eduardokraus/plugin" />
        <source-file src="src/android/MyFirebaseInstanceIDService.java"
                     target-dir="src/com/eduardokraus/plugin" />
        <source-file src="src/android/FCMPluginActivity.java"
                     target-dir="src/com/eduardokraus/plugin" />
    </platform>

    <!-- COPY FCM CONFIG FILES TO PLATFORM AFTER PLUGIN INSTALL OR PLATFORM PREPARE -->
    <hook src="scripts/fcm_config_files_process.js" type="after_plugin_add" />
    <hook src="scripts/fcm_config_files_process.js" type="after_prepare" />

</plugin>
